/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25/05/2016, 01:58:57
    Author     : tomer
*/

#signup_btn{
    background-image: url("resources/btn_signup1.jpg");
}

#login_btn{
    background-image: url("resources/btn_login1.jpg");
}

#mainDiv form {
    position: fixed;
    top: 40%;
    left: 53%;
    width: 20%;
    height: 20%;
}

.button {
    border-width: 0px; 
    background-size: 100% 100%;
    height: 30%;
    width: 40%;
    margin: 1px;
}
.txtBox {
    background-size: 100% 100%;
    height: 20%;
    width: 40%;
    margin-bottom: 1px;
    font-size: 1.5vw;
}

#mainDiv img{ 
    border-style: solid;
    border-width: 5px;
    border-color: black;
    position: fixed;
    top: 25%;
    left: 25%;
    width: 50%;
    height: 50%;
}

#mainDiv table {
    position: fixed;
    top: 0%;
    left: 0%;
    margin-top: 0px;
    margin-left: 0px;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
}