/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24/05/2016, 15:38:31
    Author     : tomer
*/

#multiplayer_btn{
    background-image: url("resources/mainmenu/btn_Multiplayer1.jpg");
}

#singleplayer_btn{
    background-image: url("resources/mainmenu/btn_Singleplayer1.jpg");
}

#mainDiv form {
    position: fixed;
    top: 45%;
    left: 40%;
    width: 20%;
    height: 20%;
}

.button {
    border-width: 0px; 
    background-size: 100% 100%;
    height: 30%;
    width: 40%;
    margin: 1px;
}
.txtBox {
    background-size: 100% 100%;
    height: 20%;
    width: 40%;
    margin-bottom: 15px;
    font-size: 1.5vw;
}

#mainDiv img{ 
    border-style: solid;
    border-width: 5px;
    border-color: black;
    position: fixed;
    top: 25%;
    left: 25%;
    width: 50%;
    height: 50%;
}

#toolBar {
    position: fixed;
    top: 0%;
    right: 0%;
    width: 20%;
    height: 50%;
}

#toolBar img {
    width: 40%;
    height: 15%;
}


body {
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
}


#mainDiv table {
    position: fixed;
    top: 0%;
    left: 0%;
    margin-top: 0px;
    margin-left: 0px;
}