/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26/05/2016, 16:17:57
    Author     : tomer
*/


#mainFrame{
    border: black;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

  div.container {
    width:98%; 
    margin:1%;
  }
  
  #mainTable{
    text-align:center; 
    margin-left:auto; 
    margin-right:auto; 
    width:980px;
    background-image: url('resources/maze/maze_background.jpg');
  }
   .center{
    text-align:center; 
    margin-left:auto; 
    margin-right:auto; 
    width:500px;
    border: black;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
  }
  
  .mazeBlock{
      z-index: 999;
      position: relative;
      border: 0px;
      margin: -2px;
  }
  
  .invisible{
      display: none;
  }
  
  #exitBtn{
      background: transparent url("resources/maze/btn_exit.png");
      height: 35px;
      width: 35px;
      border: 0;
      background-repeat: no-repeat;
  }
  
  #start_overBtn{
        background: transparent url("resources/maze/btn_start_over.png");
        height: 35px;
        width: 35px;
        border: 0;
        background-repeat: no-repeat;
  }
  
  #clueBtn, #clueBtnMulti{
        background: transparent url("resources/maze/btn_clue.png");
        height: 35px;
        width: 35px;
        border: 0;
        background-repeat: no-repeat;
  }
  
  #toolBar {
    position: fixed;
    top: 0%;
    right: 0%;
    width: 20%;
    height: 50%;
}

#toolBar img {
    width: 40%;
    height: 15%;
}


body {
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
}
