/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25/05/2016, 01:58:57
    Author     : tomer
*/

#mainFrame{
    border: black;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.centered{
    position: fixed;
    top: 58%;
    left: 67%;
    margin-top: -128px;
    margin-left: -110px;
}

.centered-btn{
    position: fixed;
    top: 68%;
    left: 65%;
    margin-top: -128px;
    margin-left: -110px;
}

.button{
    vertical-align: central;
    margin: 3px;
    top: 68%;
    left: 62%;
}

.user{
    height: 30px;
    width: 150px;
    margin: 5px;
}

.pass{
    height: 30px;
    width: 150px;
    margin: 5px;
}

#login_btn{
    vertical-align: central;
    margin: 3px;
    top: 68%;
    left: 62%;
    background: url("resources/btn_login1.jpg");
    border: 0;
    background-repeat: no-repeat;
    background-size: contain;
    height: 25px;
    width: 150px;
}

#signup_btn{
    vertical-align: central;
    margin: 3px;
    top: 68%;
    left: 62%;
    background: url("resources/btn_signup1.jpg");
    border: 0;
    background-repeat: no-repeat;
    background-size: contain;
    height: 25px;
    width: 150px;
}