/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24/05/2016, 15:38:31
    Author     : tomer
*/

#mainFrame{
    border: black;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.button{
    height: 81px;
    width: 230px;
    vertical-align: central;
    margin: 10px;
    border: 0;
}

.centered{
    position: fixed;
    top: 57%;
    left: 48%;
    margin-top: -128px;
    margin-left: -110px;
}

#multiplayer_btn{
    background-image: url("resources/btn_Multiplayer1.jpg");
}

#singleplayer_btn{
    background-image: url("resources/btn_Singleplayer1.jpg");
}