/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26/05/2016, 13:05:25
    Author     : tomer
*/

#mainFrame{
    border: black;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.centered{
    position: fixed;
    top: 60%;
    left: 51%;
    margin-top: -128px;
    margin-left: -110px;
}

div{
    margin: 3px;
}


#register_btn{
    background-position: center;
    background-size: contain;
}

#reset_btn{
    background-position: center;
    background-size: contain;
}

.btn{
    vertical-align: central;
    margin: 3px;
    border: 0;
    display: block;
    background-repeat: no-repeat;
    height: 70px;
    width: 150px;
}

#icon_choose{
    height: 50px;
    width: 50px;
}


