/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26/05/2016, 16:17:57
    Author     : tomer
*/


#mainFrame{
    border: black;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

  div.container {
    width:98%; 
    margin:1%;
  }
  
  #mainTable{
    text-align:center; 
    margin-left:auto; 
    margin-right:auto; 
    width:980px;
    background-image: url('resources/maze/maze_background.jpg');
  }
  
  
  .mazeBlock{
      z-index: 999;
      position: relative;
  }
  
  .invisible{
      display: none;
  }