

#mainFrame{
    border: black;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}


.centered{
    position: fixed;
    top: 60%;
    left: 51%;
    margin-top: -480px;
    margin-left: -859px;
}
